
Header{
    box-shadow: 0px 27px 30px rgb(148 144 144 / 30%);
    overflow-y: hidden;
    overflow-x: hidden;
}

Footer{
    width: 100vw;

}
.auth-page {
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(135deg, #1f1f1f, #333);

    color: #fff;
  }
  
  .auth-container {
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
  }
  
  .auth-image {

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  @keyframes floating {
    0% {
        transform: translate(0, 0); /* Original position */
        box-shadow: 30px -2px 28px rgba(255, 242, 242, 1);
    }
    20% {
        transform: translate(-5px, -5px); /* Moving to top-left */
        box-shadow: -10px -10px 28px rgba(255, 242, 242, 0.9);
    }
    40% {
        transform: translate(5px, 5px); /* Moving to top-right */
        box-shadow: 10px -10px 28px rgba(255, 242, 242, 0.9);
    }
    60% {
        transform: translate(5px, 5px); /* Moving to bottom-right */
        box-shadow: 10px 10px 28px rgba(255, 242, 242, 0.9);
    }
    80% {
        transform: translate(-5px, -5px); /* Moving to bottom-left */
        box-shadow: -10px 10px 28px rgba(255, 242, 242, 0.9);
    }
    100% {
        transform: translate(0, 0); /* Back to the original position */
        box-shadow: 30px -2px 28px rgba(255, 242, 242, 1); /* Back to original shadow */
    }
}

@keyframes floatingonlyshaddow {
    0% {
        box-shadow: 30px -2px 28px rgba(255, 242, 242, 1);
    }
    20% {
        box-shadow: -10px -10px 28px rgba(255, 242, 242, 0.9);
    }
    40% {
        box-shadow: 10px -10px 28px rgba(255, 242, 242, 0.9);
    }
    60% {
        box-shadow: 10px 10px 28px rgba(255, 242, 242, 0.9);
    }
    80% {
        box-shadow: -10px 10px 28px rgba(255, 242, 242, 0.9);
    }
    100% {
        box-shadow: 30px -2px 28px rgba(255, 242, 242, 1); /* Back to original shadow */
    }
}

.auth-image img {
    width: 63vw;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

}


  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .auth-form {
    position: absolute;
    top: 20vh;
    left: 10vw;
    padding: 40px;
    background: #222;
    border-radius: 10px;
    box-shadow: -11px 22px 28px rgba(255, 242, 242, 0.589);
    animation: slideInRight 1s ease;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .auth-title {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .login-form input {
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 25px;
    border: 1px solid #f39c12;
    background: #333;
    color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .login-form input:focus {
    border-color: #f39c12;
    outline: none;
  }
  .recovery{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .auth-button,
  .recovery-button  {
    margin-top: 10px;
    padding: 12px;
    background-color: #f39c12;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .register{
    padding: 12px;
    background-color: #222;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.15rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .register:hover{
    color:#f39c12;
    transform: scale(1.05);
  }
  .register-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .recovery-button {
    background-color: #e0b87b;
  }
  .recovery-button:hover {
    background-color: #d49139;
    transform: scale(1.05);

  }
  
  .auth-button:hover {
    background-color: #d35400;
    transform: scale(1.05);
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    background-color: #222;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .modal-content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
  }
  
  .modal-content input {
    width: 90%;    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #f39c12;
    background: #333;
    color: #fff;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .modal-content input:focus {
    border-color: #d35400;
  }
  
  .modal-content button {
    padding: 12px;
    background-color: #f39c12;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 30px;
  }
  
  .modal-content button:hover {
    background-color: #d35400;
    transform: scale(1.05);
  }
  
  /* Modal Header */
  .recoveryheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .recoveryheader h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #f39c12;
    text-transform: uppercase;
  }
  
  .recoveryheader button {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .recoveryheader button:hover {
    background: #d35400;
    font-weight: 500 !important;
  }
  .modal-content form label{
    width: 100%;
    text-align: left;
  }

  .react-datepicker-wrapper{
    width: 100% !important;

  }
  .modal-content form select {
    width: 96%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #f39c12;
    background: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* Focus and hover effects for select */
.modal-content form select:focus {
    border-color: #d35400;
    outline: none;
}

.modal-content form select:hover {
    background-color: #444;
}

  @media (max-width: 768px) {

      
  .auth-form {
    position: absolute;
    padding: 40px;
    left: 20;
    top: 31vh;

    background: #222;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    animation: slideInRight 1s ease;
  }
    .auth-container {
      flex-direction: column;
      align-items: center;
    }
  
    .auth-image {
      display: none; /* Hide image on smaller screens */
    }
  

    .auth-title {
      font-size: 2rem;
    }
  
    .login-form input,
    .auth-button,
    .recovery-button {
      font-size: 1rem;
    }
  }

  .modal-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:25px
  }

  .registerHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
text-align: center; 
margin-bottom: 30px;

}
.registerHead button{
  margin-top: 1px !important;
}


.animateicon1,
.animateicon2,
.animateicon3 {
  position: absolute;
  z-index: 998;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  background-color: rgb(214, 203, 203);
    color: #000000; /* or any color for the text */
  padding: 20px;
  font-size: 16.5px;
  border: 1px solid #f39c12;
  border-radius: 10px;
  max-width: 20%;
  font-weight: 600;

}

.animateicon1{
  top:50%;
  right: 10%;
  animation: floating1 10s infinite linear;

}

.animateicon2{
  top:30%;
  right: 30%;
  animation: floating2 10s infinite linear;

}
.animateicon3{
  top: 60%;
  right: 35%;
  animation: floating3 10s infinite linear;
  border-radius: 50%;

}
.animateicon1 img ,
.animateicon2 img {
  width: 110px;
}
.animateicon3 img {
  width: 80px;
}



@keyframes floating2 {
  0% {
      transform: translate(0, 0); /* Original position */
  }
  25% {
      transform: translate(0, -20px); /* Moving upwards */
  }
  50% {
      transform: translate(0, 20px); /* Moving downwards */
  }
  75% {
      transform: translate(0, -20px); /* Moving upwards */
  }
  100% {
      transform: translate(0, 0); /* Back to the original position */
  }
}

@keyframes floating1 {
  0% {
      transform: translate(0, 0); /* Original position */
  }
  20% {
      transform: translate(-10px, -5px); /* Moving to top-left */
  }
  40% {
      transform: translate(5px, 10px); /* Moving to top-right */
  }
  60% {
      transform: translate(10px, 5px); /* Moving to bottom-right */
  }
  80% {
      transform: translate(-5px, -10px); /* Moving to bottom-left */
  }
  100% {
      transform: translate(0, 0); /* Back to the original position */
  }
}
@keyframes floating3 {
  0% {
      transform: translate(0, 0); /* Original position */
  }
  25% {
      transform: translate(20px, 0); /* Moving right */
  }
  50% {
      transform: translate(-20px, 0); /* Moving left */
  }
  75% {
      transform: translate(20px, 0); /* Moving right */
  }
  100% {
      transform: translate(0, 0); /* Back to the original position */
  }
}

