.custom-cursor {
    position: fixed;
    pointer-events: none; 
    z-index: 997;
    transition: transform 0.1s ease-out;

}

.line {
    position: fixed;
    background-color: #f39c12;
    transform-origin: center;
    pointer-events: none;
}

.horizontal {
    height: 1px;
    width: 100vw; 
    top: 50%; 
    left: 0;

}

.vertical {
    width: 1px;
    height: 100vh; 
    top: 0;
    left: 50%; 

}

.cross-point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f39c12;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 998;
}


.smoke {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 123, 0);
    border-radius: 50%;
    pointer-events: none;
    animation: smokeAnimation 2s infinite ease-in;
    opacity: 0;
}

@keyframes smokeAnimation {
    0% {
        transform: translate(0, 0) scale(0.5);
        opacity: 1;
    }
    25% {
        transform: translate(-10px, -10px) scale(1);
        opacity: 0.8;
        background-color: rgba(255, 0, 0, 0.6);
    }
    50% {
        transform: translate(20px, -20px) scale(1.2);
        opacity: 0.5;
        background-color: rgba(0, 255, 255, 0.6);
    }
    75% {
        transform: translate(-10px, -10px) scale(1);
        opacity: 0.3;
        background-color: rgba(0, 0, 255, 0.6);
    }
    100% {
        transform: translate(20px, -20px) scale(0.5);
        opacity: 0;
        background-color: rgba(0, 255, 0, 0.6);
    }
}